<div class="brand">
    <div class="mark">O</div>
    <div>
        <strong>Oloráculo</strong>
        <span>World Cup Oracle</span>
    </div>
</div>

<nav class="nav-list">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Overview</NavLink>
    <NavLink class="nav-link" href="lab">Oracle Lab</NavLink>
    <NavLink class="nav-link" href="matches">Matches</NavLink>
    <NavLink class="nav-link" href="tournament">Tournament</NavLink>
    <NavLink class="nav-link" href="performance">Performance</NavLink>
    <NavLink class="nav-link" href="data">Data</NavLink>
</nav>
